.product-list-container {
  padding: 20px; 


}

/* Products */
.product {
  background-color: white; 
  border-radius: 15px;  
  text-align: center;
  margin-bottom: 20px; 

}


.catalog-product-image {
  width: 50%; 

  height: 180px; 
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
  border-radius: 15px; 
}

/*Title*/
.product-title {
  font-size: 18px; 
  font-weight: bold; 
  justify-content: center;
  

}


.product-buttons {
  justify-content: space-between; 
  margin-top: 10px; 
  background-attachment: fixed; 

}


/*Buttons*/
.product-buttons .add-to-cart-btn,
.product-buttons .buy-btn {
  padding: 8px 16px; 
  font-size: 14px; 
  background-color: #131e42; 
  color: #fff; 
  border-radius: 20px; 
  border-color: #131e42;
  cursor: pointer; 
  transition: background-color 0.3s; 
  margin-bottom: 10px; 
  
}

.product-buttons .add-to-cart-btn:hover,
.product-buttons .buy-btn:hover {
  background-color: #0071b3; 
}


/*Quantity*/
.quantity-controls {
  display: flex; 
  align-items: center; 
  margin-top: 10px; 

}

.quantity-controls .quantity-btn {
  padding: 6px 12px; 
  font-size: 12px; 
  margin-left: 10px; 
  margin-right: 10px; 
  background-color: #0b3561; 
  color: #fff; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.quantity-controls .quantity-btn:hover {
  background-color: #0056b3; 
}

/* Product Info */
.product-info-link {
  display: block; 
  margin-top: 10px; 
  text-decoration: none;
  color: #080808;
  font-weight: bold; 
  padding-top: 10px;
  padding-bottom: 10px;

}

.product-info-link:hover {
  background-color: #d3d4d4; 
}

/* Pagination */
.pagination {
  display: flex; 
  justify-content: center;

}

.pagination .page-btn {
  margin: 0 5px;
  padding: 5px 12px; 
  font-size: 14px; 
  color: #fff; 
  border-radius: 10px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
  background-color: #0071b3;

}

.pagination .page-btn:hover {
  background-color: #0056b3; 
}

/*Filter*/
.product-list-filter {
  margin-bottom: 10px;
  max-width: 300px; 
  margin-left: auto;
  margin-right: auto;
}

.filter-input {
  width: 100%;
  padding: 5px;
}

.product-list-title{
  color: black;
  text-align: center;
  margin-bottom: 10px;
  font-family:Arial, Helvetica, sans-serif
}

.product-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-top: 40px;

 
}

.category-dropdown {
  margin-bottom: 15px;
}

.category-dropdown select {
  width: 20%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.category-dropdown select:hover,
.category-dropdown select:focus {
  border-color: #007bff; 
}


.category-dropdown select option {
  font-size: 14px;
}
