.footer {
  background-color: transparent; 
  color: #525558; 
}

.footer-title {
  color: #1b1c1d; 
}

.footer-bottom {
  background-color: #343a40; 
  color: #ffffff; 
}

.footer-bottom a {
  color: #ffffff; 
}
