.footer {
  background-color: #a8c7e6;
  color: #161414;
  position: relative;
}

.footer-title {
  letter-spacing: 1px;
  color: #fff;
}

.footer table {
  color: #111111;
}

.footer-bottom {
  background-color: rgba(0, 0, 0, 0.2);
}
