.user-profile-container-unique-user-profile-container {
  width: 2000px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 306px;
  


}

.p-profile-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;



}

.p-profile-column {
  flex-basis: calc(50% - 10px);
  margin-bottom: 20px;

}

.p-profile-heading {
  font-size: 28px;
  font-weight: bold;
  color: #070707;
  margin-bottom: 20px;

}

.p-profile-btn {
  padding: 8px 16px;
  font-size: 16px;
  margin-right: 10px;
  display: block;
  background-color: rgb(248, 100, 100);
  width: 200px;


  

}
.p-profile-btn:hover {
  background-color: rgb(221, 80, 80);
  

}

.p-profile-card {
  padding: 10px;

  border-radius: 8px;
  margin-bottom: 10px;

}

.create-p-profile-btn{
  padding: 8px 16px;
  font-size: 16px;
  margin-right: 10px;

  display: block;
  background-color: rgb(128, 248, 218);
  width: 200px;

}

.create-p-profile-btn:hover{
  
  background-color: rgb(255, 145, 0);


}


.reorder-p-profile-btn{
  padding: 8px 16px;
  font-size: 16px;
  margin-right: 10px;
  display: block;
  background-color: rgb(0, 255, 128);
  width: 200px;


}
.reorder-p-profile-btn:hover{
  background-color: rgb(71, 194, 132);
 

}

.personal-data-p-profile-btn{
  padding: 8px 16px;
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: rgb(92, 164, 245);
  width: 200px;


}
.personal-data-p-profile-btn:hover{

  background-color: rgb(120, 162, 211);
  width: 200px;


}

.change-password-p-profile-btn{
  padding: 8px 16px;
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: rgb(92, 164, 245);
  width: 200px;


}
.change-password-p-profile-btn:hover{

  background-color: rgb(113, 120, 226);
  width: 200px;


}

.update-address-btn{
  padding: 8px 16px;
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: rgb(99, 166, 228);
  width: 200px;
}

.update-address-btn:hover{

  background-color: rgb(88, 176, 235);
  width: 200px;
}