:root {
    --background: linear-gradient(to right, rgb(147, 166, 228), #87c4f7); 
  }
  
  body {
    background-image: var(--background);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .content{
    margin-bottom: 60px;
  }